@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <h1 class="about-text" style="text-align:center;margin-top:30px;">OBJECTIVE</h1>
                <h4 class="about-text" style="text-align:center;">Providing a Platform For your Need</h4>
                <h1 class="about-text" style="text-align:center;">About Us</h1>
                <br>
                <p class="about-text" style="text-align:center;">
                   Our team is a group of intelligent and hardworking personnels. It was a bigger problem of out society to have access of used vehicle and sale their used vehicle. 
                    This project is an inspiration for those people who are worried about the selling and purchasing of their vehicles. So I came up with the idea of a web app which is feasible for both the seller and the buyer in a friendly environment.
                </p>
            </div>
        </div>
      <br />
        <div class="container">
            <div class="row">
                <h2 style="text-align:center;"> <strong>OUR TEAM</strong></h2>
                <div class="row home-row">
                    <div class="col-md-6">
                        <img src="~/Images/mursaleen.JPG" class="img-thumbnail team-member">
                        <p class="team-text" style="font-weight: bold; text-align:center;">COMPUTER SCIENTIST</p>
                        <p class="home-text" style="text-align:center;">Thought is the wind,knowledge the sail and mankind the vessel.</p>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <img src="~/Images/Ramzan.jpg" class="img-thumbnail ">
                            <p class="team-text" style="font-weight: bold;text-align:center">COMPUTER SCIENTIST</p>
                            <p class="home-text" style="text-align:center;">Start where you are.Use what you have.Do what you can.</p>
                        </div>
                    </div>

                </div>	  
            </div>
       </div>
        <br>
        @*<div class="row">
            <div class="col-md-6">
                <h1 class="about-text">Locate Us</h1>
                <p class="about-text">
                    <q>We are here in Lahore You can meet us and we will guide you about your crops and appropriate pesticides for them</q>
                </p>
                <p class="about-text">
                    <b>Adress:</b>&nbsp;Liberty Chowk,Lahore,Pakistan
                    <br>
                    <b>Email:</b>&nbsp;alfain69@gmail.com
                    <br>
                    <b>Contact#</b>&nbsp;+92-3346164001

                </p>
            </div>
            <div class="col-md-6">
                
            </div>

        </div>*@
</section>