@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row"style="margin-top:30px;">
        <div class="col-md-4">
            <h2>Honda City</h2>
            <img src="~/Images/car1.jpg" />
            <p>Make: </p>
            <p>Model: </p>
            <p>Price: </p>
            <p>Year: </p>
            <p>Province: </p>
            <p>Driven in Km's: </p>
        </div>
    </div>
</div>